<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>
</head>
<body>
    <div id="app">
        <form id="app-form">
            <input type="text" v-model=input_name placeholder="Digite o seu nome"> <!-- Texto de entrada vai para a variável input_name -->
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>
        <p>Meu nome é: {{name}} </p>
        <hr>
        <form id="app-form-image">
            <input type="text" v-model=input_image placeholder="Digite a url da imagem"> <!-- Texto de entrada vai para a variável input_image -->
            <input type="submit" value="Enviar" v-on:click="submitImage">
        </form>
        <p>
            <img  v-bind:src=image alt="" >  <!-- o v-bind cria uma ligação entre uma variavel e um atributo -->
        </p>
    </div>
</body>
</html>